#container1 {
    background-color: #FFFFFF;
    background-image: url('../images/website/Sans titre.png');
    height: 400px;
}

/*mama*/
#container1_apropos{
	background-color: lightskyblue;
}

/*mama*/
#container1_faq{
	background-color: #FFFFFF;
	margin-bottom: 500px;
}

/*mama*/
body {
	margin: 0;
}

/*mama*/
.page{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*mama*/
.site-content{
    background-color: #FFFFFF ; 
	margin-left: 20px;
	margin-right: 20px;
	flex: 1;
}

#head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-blanc{
	color: white !important;
}

.lien-normal:hover{
	text-decoration: none !important;
}

.center{                                  /*modif camille centrer texte*/
    text-align: center;
}

.italic{
    font-style: italic;                   /*modif camille texte itali*/ 
}

.bouton-bleu{                               /*modif camille */
    border-color: #17a2b8;
    border-style: solid;
    border-radius: 5px;
    border-size: 3px;
    background-color: #17a2b8;
}

.bouton-bleu:hover, .bouton-bleu:active, .bouton-bleu:visited{                      /*modif camille */
    background-color: #17a2b8;
}


/*mama*/
.bold{
	font-weight: 600;
}

/*mama*/
.bold-light{
	font-weight: 300;
}

/*mama*/
.light{
	font-weight: lighter;
}

/*mama*/
.h1{
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px; 
}

.logo {
    margin: left;
}

#onglets li{
    margin: 10px 0;
    margin: 10px 2px 0 2px !important;
    /* Pour les navigateurs autre que IE */
    margin: 1px 2px 0 2px;
    /* Pour IE  */
}

.connexion {
    margin: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

h1 {
    text-align: center;
    font-size: 24;
}

h2 {
    text-align: center;
    font-style: italic;
    font-size: 18;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: block;
    background-color: #FFFFFF;
    height: 600px;
    margin-left: 50px;
    margin-right: 50px;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

img.logo-fin {
    display: block;
    margin: auto;
}

#containerFin {
    background-color: #696969;
}

.btn {
    display: flex;
    justify-content: center;
}

#form {
    /*formulaire connexion et inscription*/
    display: block;
    width: 500px;
    /*largeur du bloc form */
    height: 200px;
    /* Longueur du bloc form*/
    margin: auto;
}

#container1_user {
    background-color: #FFFFFF;
    height: 120px;
}

#container2_user {
    background-color: #FFFFFF;
    height: 600px;
}

.navbar_user {
    /*menu profil utilisateur*/
    display: block;
    width: 500px;
    margin: auto;
}

#container3_user {
    display: block;
    border-color: #808080;
    border-width: 5px;
    border-style: solid;
    height: 400px;
    width: 1100px;
    margin: auto;
}

#info {
    /*liste des infos*/
    display: block;
    margin: auto;
}

#container4_user {
    display: flex;
    justify-content: space-between;
}

.note_medecin {
    display: block;
    border-color: #808080;
    border-width: 2px;
    border-style: solid;
    height: 140px;
    width: 500px;
    margin: auto;
}

.avis_medecin {
    display: block;
    border-color: #808080;
    border-width: 2px;
    border-style: solid;
    height: 140px;
    width: 500px;
    margin: auto;
}
#container3_rdv{
	display: block;
	border-color: #808080; 
	border-width:5px;
	border-style: solid;
    height: 450px;
    width: 1100px;
    margin: auto;

}



#calendar{
	display: block;
    height: 150px;
    width: 450px;
}

.calendar{
	display: block;
    height: 350px;
    width: 400px;
    margin: auto;
}

.description_rdv{
	display: block;
    height: 390px;
    width: 600px;
    margin: right;
}

#container5_user{
	display: flex;
	flex-direction: column;
}

.historique_rdv{
	display: block;
    height: 100px;
    width: 600px;
    margin: auto;
}

.info_rdv{
	display: block;
    height: 250px;
    width: 500px;
    margin: auto;
    border-color: #808080; 
	border-width:2px;
	border-style: solid;
}

#bouton_historique{
	display: block;
	margin: auto;
	margin-top: 30px;
}

.info_medecin{
	display: block;
	border-color: #808080; 
	border-width:2px;
	border-style: solid;
    height: 140px;
    width: 1000px;
    margin: auto;
}

.height-inherit
{
	height: inherit;
}

.fleche-caroussel-gauche {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#111111' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
  !important;
}

.fleche-caroussel-droite {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#111111' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
  !important;
}

.center{
	text-align: center;
}

#container3_historique_rdv{
	border-color: #808080; 
	border-width:5px;
	border-style: solid;
    height: 450px;
    width: 1100px;
    margin: auto;
}

#container4_historique_rdv{
	display: flex;
	border-color: #808080; 
	border-width:2px;
	border-style: solid;
    height: 140px;
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
}

.info-medecin-rdv{
	width: 400px;
	height: 140px;
}

.info-rdv{
	width: 400px;
	height: 140px;
}

.info-rdv2{
	display: block;
	margin: auto;
	width: 300px;
	height: 100px;
}

.partage-exp{
	width: 190px;
	height: 140px;
}

#btn-partage-exp{
	display: block;
	margin: auto;
	margin-top: 40px;
	width: 150px;

}

#contact{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.container_main11{
    display: block;
    margin-left: 20px;
    text-align: justify;
}

.btn-200{                 /*modif camille créer bouton de largeur 200*/
    width: 200px;
}

.btn-100{                 /*modif camille créer bouton de largeur 100*/
    width: 100px;
}

.btn-center{               /*modif camille classe pour centrer auto les boutons dans les containers*/
    margin: auto;
}

#btn-rdv{                                /*modif camille bouton modif/sup rdv*/
    
    display: flex;
    justify-content: center;
}

#container3_subscribe_med{          /*modif camille cadre inscription med*/
    display: block;
    border-color: #808080; 
    border-width:5px;
    border-style: solid;
    height: 500px;
    width: 1100px;
    margin: auto;
    margin-top: 40px;

}

#container4_subscribe_med{           /*modif camille cadre inscription med*/
    display: flex;
    height: 90%;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 30px;
}

#container5_subscribe_med{        /*modif camille partie gauche form inscription*/
    display:block;
    width: 50%;
    height: 100%;
 }

#container6_subscribe_med{         /*modif camille partie droite form inscription*/
    display:block;
    width: 50%;
    height: 100%;
}

.container1_search{
    background-color: #17a2b8;
}

#navbar_search{
    background-color: #a6d7d1;
}

.background-white{
    background-color: #FFFFFF;
}